.navbar {
  background-color: #ffff;
  padding: 16px 0;
}

.navbar .nav-item a.active {
  color: #2f8cff;
}

/* SEC BANNER */

#Banner {
  margin-top: 80px;
}

#Banner .bg-banner {
  background-image: url(./Assets/onlineclass/bg-hero.svg);
  background-size: cover;
  width: 100%;
  height: 700px;
  background-position: center;
}

#Banner .bg-banner .body-text {
  padding-top: 150px;
}

#Banner .bg-banner .body-text .text-top {
  color: white;
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 18px;
  font-family: 'Plus Jakarta Display';
}

#Banner .bg-banner .body-text h1 {
  padding-top: 40px;
  font-family: 'Plus Jakarta Display';
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
}

#Banner .bg-banner .body-text p {
  margin-top: 30px;
  font-family: 'Poppins';
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-bottom: 0;
}

#Banner .bg-banner .body-text .btn-cta {
  padding: 24px 60px;
  border-radius: 14px;
  background-color: #f16634;
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins';
  transition: 0.3s;
  margin-top: 60px;
}

#Banner .bg-banner .body-text .btn-cta:hover {
  background-color: #c44c20;
}

/* SEC BANNER */

/* SEC UNGGULAN */

#Unggulan {
  background-color: #2f8cff;
}

#Unggulan .container {
  position: relative;
  padding: 100px 12px;
}

#Unggulan .container .dot1 {
  position: absolute;
  width: 50px;
  right: 0;
  top: -55px;
}

#Unggulan .dot2 {
  position: absolute;
  width: 125px;
  bottom: -25px;
}

#Unggulan .text-kurikulum h1 {
  font-family: 'Plus Jakarta Display';
  color: white;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
}

#Unggulan .text-kurikulum-right p {
  color: white;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  font-family: 'Poppins';
}

#Unggulan .unggulan-point {
  margin-top: 100px;
}

#Unggulan .unggulan-point p {
  color: white;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  margin-top: 50px;
}

/* SEC UNGGULAN */

/* SEC KEDUA */

#Secdua .secdua-content {
  margin: 100px 0;
}

.secdua-content img {
  width: 100%;
}

#Secdua .secdua-text h1 {
  font-family: 'Plus Jakarta Display';
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 25px;
}

#Secdua .secdua-text h1 span {
  color: #2f8cff;
}

#Secdua .secdua-text .text1 {
  font-family: 'Poppins';
  font-size: 16px;
  color: #2f8cff;
  margin-bottom: 50px;
}

#Secdua .secdua-text .text2 {
  font-family: 'Poppins';
  font-size: 16px;
  color: #b0b0b0;
}

/* SEC KEDUA */

/* SEC JENIS PROGRAM */

#Kelas .container {
  padding: 100px 12px;
}

#Kelas .container .title-kelas h1 {
  font-family: 'Plus Jakarta Display';
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

#Kelas .container .title-kelas h1 span {
  font-family: 'Plus Jakarta Display';
  color: #2f8cff;
}

#Kelas .container .title-kelas img {
  width: 100px;
  margin-bottom: 50px;
  margin-top: 24px;
}

#Kelas .list-kelas .card-kelas .kelas-box .title-text h3 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px;
}

#Kelas .list-kelas .card-kelas {
  border: 1px solid #f0f0f0;
  padding: 40px;
  border-radius: 24px;
  min-height: 450px;
  position: relative;
}

#Kelas .kelas-text .main {
  margin: 40px 0;
}

#Kelas .card-kelas .kelas-text p {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 300;
  color: #b0b0b0;
}

#Kelas .kelas-text p span {
  font-weight: 600;
  color: #2f8cff;
}

#Kelas .card-kelas .kelas-text a {
  text-decoration: none;
  font-family: 'Poppins';
  width: 200px;
  color: white;
  border-radius: 50px;
  position: absolute;
  bottom: 40px;
}

#Kelas .card-kelas .kelas-text .btn-kelas-green {
  background-color: #41d67a;
}

#Kelas .card-kelas .kelas-text .btn-kelas-green:hover {
  background-color: #32bd67;
}

#Kelas .card-kelas .kelas-text .btn-kelas-red {
  background-color: #ff814b;
}

#Kelas .card-kelas .kelas-text .btn-kelas-red:hover {
  background-color: #d36c40;
}

/* SEC JENIS PROGRAM */

/* SEC PELAKSANAAN */

#Pelaksanaan .container {
  margin-bottom: 100px;
}

#Pelaksanaan .text-pel h1 {
  color: #333333;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Plus Jakarta Display';
}

#Pelaksanaan .text-pel h1 span {
  color: #2f8cff;
}

#Pelaksanaan .text-pel p {
  color: #2f8cff;
  font-family: 'Poppins';
  margin-top: 50px;
}

#Pelaksanaan .tanggal-pel {
  border: 1px solid #f0f0f0;
  width: 100%;
  padding: 35px 0;
  border-radius: 24px;
}

#Pelaksanaan .tanggal-pel p {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
  color: #b0b0b0;
  margin-bottom: 16px;
}

#Pelaksanaan .tanggal-pel h1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  color: #2f8cff;
}

/* SEC PELAKSANAAN */

/* SEC FOOTER */

#Footer {
  background-color: #222222;
}

#Footer .footer-body {
  padding: 70px 0;
}

#Footer .footer-body h4 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-bottom: 24px;
}

#Footer .footer-body a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 300;
  display: flex;
  transition: 0.5s;
}

#Footer .footer-body .menu-ic {
  margin-top: -10px;
}

#Footer .footer-body a > p {
  margin-top: 12px;
  margin-left: 10px;
}

#Footer .footer-body a:hover {
  opacity: 1;
}

.copyright {
  background-color: #171717;
  padding: 25px 0 5px 0;
}

.copyright p {
  font-family: 'Poppins';
  color: white;
  font-weight: 200;
  font-size: 14px;
  opacity: 0.5;
}

/* SEC FOOTER */

/* RESPONSIVE */

@media only screen and (min-width: 0px) and (max-width: 479px) {
  * h1 {
    font-size: 32px !important;
    line-height: 110% !important;
  }

  * h1 br {
    display: none !important;
  }

  .footer-body h4 {
    margin-top: 24px;
    margin-bottom: 16px !important;
  }

  .footer-logo img {
    margin-bottom: 24px;
  }

  .dot1 {
    right: 12px !important;
  }

  .body-text .btn-cta {
    padding: 16px 40px !important;
    font-size: 16px !important;
  }

  .secdua-content img {
    margin-bottom: 24px;
  }

  .list-kelas {
    margin: 0 !important;
  }

  .list-kelas .card-kelas {
    min-height: 520px !important;
    padding: 24px !important;
  }

  .kelas-box {
    display: block !important;
  }

  .kelas-box h3 {
    margin: 24px 0 0 0 !important;
  }

  .text-pel {
    padding-bottom: 24px;
  }
}

/* RESPONSIVE */
