.navbar {
  background-color: #ffff;
  padding: 16px 0;
}

.navbar .nav-item a.active {
  color: #2f8cff;
}

/* SEC BANNER */

#Banner {
  margin-top: 80px;
}

#Banner .bg-banner {
  background-image: url(./Assets/academy/bg-hero.svg);
  background-size: cover;
  width: 100%;
  height: 700px;
  background-position: center;
}

#Banner .bg-banner .body-text h1 {
  padding-top: 200px;
  font-family: 'Plus Jakarta Display';
  color: white;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0;
}

#Banner .bg-banner .body-text p {
  margin-top: 30px;
  font-family: 'Poppins';
  font-size: 16px;
  color: white;
  font-weight: 300;
  margin-bottom: 0;
}

#Banner .bg-banner .body-text .btn-cta {
  padding: 24px 60px;
  border-radius: 14px;
  background-color: #f16634;
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins';
  transition: 0.3s;
  margin-top: 60px;
}

#Banner .bg-banner .body-text .btn-cta:hover {
  background-color: #c44c20;
}

/* SEC BANNER */

/* SEC PENDAFTARAN */

#Pendaftaran .container {
  padding: 100px 12px;
}

#Pendaftaran .title-pdf h1 {
  font-family: 'Plus Jakarta Display';
  color: #333333;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: bold;
}

#Pendaftaran .title-pdf img {
  margin-bottom: 50px;
}

#Pendaftaran .text-pdf p {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 300;
  color: #b0b0b0;
}

#Pendaftaran .box {
  padding: 40px;
  border: 1px solid #f0f0f0;
  margin: 0 12px;
  border-radius: 32px;
}

#Pendaftaran .pdf-box {
  margin-bottom: 40px;
}

#Pendaftaran .box .icon-img img {
  padding: 15px;
  background-color: #f4f9ff;
  border-radius: 24px;
}

#Pendaftaran .box .title-text h3 {
  margin-left: 24px;
  font-size: 24px;
  font-family: 'Poppins';
  color: #2f8cff;
  font-weight: 600;
}

#Pendaftaran .pdf-text p {
  font-family: 'Poppins';
  font-size: 18px;
  color: #b0b0b0;
  margin-bottom: 24px;
  font-weight: 300;
}

#Pendaftaran .pdf-text p span {
  font-weight: 600;
  color: #333333;
  margin-right: 24px;
}

/* SEC PENDAFTARAN */

/* SEC KURIKULUM */

#Kurikulum {
  background-color: #2f8cff;
}

#Kurikulum .container {
  position: relative;
  padding: 100px 12px;
}

#Kurikulum .container .dot1 {
  position: absolute;
  width: 50px;
  right: 0;
  top: -55px;
}

#Kurikulum .dot2 {
  position: absolute;
  width: 125px;
  bottom: -25px;
}

#Kurikulum .text-kurikulum-left h1 {
  font-family: 'Plus Jakarta Display';
  color: white;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
}

#Kurikulum .text-kurikulum-right p {
  color: white;
  /* width: 600px; */
  opacity: 0.7;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  font-family: 'Poppins';
}

/* SEC KURIKULUM */

/* SEC JENIS PROGRAM */

#JProgram .container {
  padding: 100px 12px;
}

#JProgram .container .title-jprogram h1 {
  font-family: 'Plus Jakarta Display';
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

#JProgram .container .title-jprogram img {
  width: 100px;
  margin-bottom: 50px;
  margin-top: 24px;
}

#JProgram .list-program .card-jprogram {
  border: 1px solid #f0f0f0;
  padding: 24px;
  border-radius: 24px;
  height: 450px;
  position: relative;
}

#JProgram .list-program .card-jprogram h3 {
  font-family: 'Poppins';
  font-size: 20px;
  color: #333333;
  margin-left: 24px;
}

#JProgram .list-program .card-jprogram .jprog-text {
  margin-top: 24px;
}

#JProgram .list-program .card-jprogram .jprog-text p {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

#JProgram .list-program .card-jprogram .jprog-text .main {
  color: #b0b0b0;
  margin-bottom: 40px;
}

#JProgram .list-program .card-jprogram .jprog-text p span {
  font-weight: 600;
  color: #2f8cff;
}

#JProgram .list-program .card-jprogram .jprog-text a {
  text-decoration: none;
  color: #2f8cff;
  font-family: 'Poppins';
  position: absolute;
  bottom: 24px;
}

#JProgram .list-program .card-jprogram .jprog-text a img {
  margin-left: 8px;
}

/* SEC JENIS PROGRAM */

/* SEC KEDUA */

.secdua-content img {
  width: 100%;
}

#Secdua .secdua-text h1 {
  font-family: 'Plus Jakarta Display';
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 50px;
}

#Secdua .secdua-text h1 span {
  color: #2f8cff;
}

#Secdua .secdua-text p {
  font-family: 'Poppins';
  font-size: 16px;
  color: #b0b0b0;
}

/* SEC KEDUA */

/* SEC KETIGA */

#Sectiga .sectiga-content {
  margin-bottom: 100px;
}

.sectiga-content img {
  width: 100%;
}

#Sectiga .sectiga-text h1 {
  font-family: 'Plus Jakarta Display';
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 50px;
}

#Sectiga .sectiga-text h1 span {
  color: #2f8cff;
}

#Sectiga .sectiga-text p {
  font-family: 'Poppins';
  font-size: 16px;
  color: #b0b0b0;
}

/* SEC KETIGA */

/* SEC FOOTER */

#Footer {
  background-color: #222222;
}

#Footer .footer-body {
  padding: 70px 0;
}

#Footer .footer-body h4 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-bottom: 24px;
}

#Footer .footer-body a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
  font-weight: 300;
  display: flex;
  transition: 0.5s;
}

#Footer .footer-body .menu-ic {
  margin-top: -10px;
}

#Footer .footer-body a > p {
  margin-top: 12px;
  margin-left: 10px;
}

#Footer .footer-body a:hover {
  opacity: 1;
}

.copyright {
  background-color: #171717;
  padding: 25px 0 5px 0;
}

.copyright p {
  font-family: 'Poppins';
  color: white;
  font-weight: 200;
  font-size: 14px;
  opacity: 0.5;
}

/* SEC FOOTER */

/* RESPONSIVE */

@media only screen and (min-width: 0px) and (max-width: 479px) {
  * h1 {
    font-size: 32px !important;
    line-height: 110% !important;
  }

  * h1 br {
    display: none !important;
  }

  .footer-body h4 {
    margin-top: 24px;
    margin-bottom: 16px !important;
  }

  .footer-logo img {
    margin-bottom: 24px;
  }

  .dot1 {
    right: 12px !important;
  }

  .body-text .btn-cta {
    padding: 16px 40px !important;
    font-size: 16px !important;
  }

  #Pendaftaran .box {
    padding: 24px !important;
  }

  .box .title-text h3 {
    font-size: 20px !important;
  }

  .box .pdf-text p {
    font-size: 14px !important;
  }

  .text-kurikulum-right p {
    margin-top: 24px;
  }

  .card-jprogram .title-text h3 {
    font-size: 18px !important;
  }

  .jprog-text p {
    font-size: 16px !important;
  }

  .secdua-content img {
    margin-bottom: 24px;
  }

  .sectiga-content img {
    margin-top: 24px;
  }
}

/* RESPONSIVE */
